* {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 92%);
}

header h1 {
  font-size: 3rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#mainFn3 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainFn3 p {
  line-height: 20px;
  font-size: 1.2rem;
}

img {
  width: 100%;
  margin: 1rem;
}